/*variables globales */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/*variables globales */

$fontMain: 'Roboto',
sans-serif;
$fontSecondary: 'Open Sans',
sans-serif;
$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm_:1em;